/* .navbar{ background: linear-gradient(to right, #f97300, #e7aa74);}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #f97300; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;} */
*{
    box-sizing: border-box;
}
.navbar-brand{
    height: 50px;
}
.navbar-brand img{
    height: 50px;
    margin-top: 0;
}


#mainNavbar{
    background: linear-gradient(to right,#72b5f3,blue);
}
.first-l{
    color: red;
    font-weight: 800;
    font-size: 30px;
}
.second-l{
    color: white;
}
.nav-link{ margin-right: 1em !important; color: white !important;}
.nav-link:hover{ background: #f4f4f4; color: black !important; border-radius: 20%;}
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(47, 134, 214, 0.79);
}
/* Description */
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
   
    /* background-color: rgba(0,0,0,0.1); */
    
}
.description p{
    color: white !important;
}
/* Description responsive */
@media (max-width: 575px){
    .description .lead0{
        font-weight: 100;
        font-size: .8rem;
        display: inline; 
        color: white;  
    }
    .description .lead {
        display: none;
    }
    .description .btn{
        display: none;
    }
    .description .head{
        text-align: left;
        font-weight: 400;
        line-height: 1.2;
    }
}
/* Flaired edges, by Tomas Theunissen */

hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width: 50%;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.about .goal-head{
   
    text-transform: uppercase;
}


/* About section responsive */
@media (max-width: 575px){
    .about .style-seven{
        width: 70%;
    }
    .about .goal-head{
        text-align: center !important;
        color: rgb(99, 93, 93);
        font-weight: 100;
        font-size: 2rem;
        line-height: 4rem;
       
        margin-bottom: 30px !important;
        padding-top: 10px !important;
        padding-bottom: 10px;
    }
    .about .head2{
        text-align: left;
        margin-top: 20px;
        display: none;
    }
    .about .head2 h4{
        font-weight: 800;
        font-size: 2rem;
        color: rgb(120, 120, 201);
        letter-spacing: .2rem;
    }
    .about .head3{
        text-align:left;
        border-left: 3px solid rgb(143, 131, 131);
        display: none;
    }
    .about .head3 h1{
        margin-left: 4px;
    }
    .about .info .lead1{
        display: none;
    }
    .about .lead{
        text-align: left;
        line-height: 2.5rem;
    }
    
    .about .image{
        display: none;
    }
    .about .info .btn{
        margin-right: auto;
        margin-left: auto;
        display: block;
        transition: 1s;
    }
    
}

.about .info .btn:hover{
    transition: 1s;
    box-shadow: 2px 5px 10px 10px rgb(237, 250, 250);
}

.description h1{
 color:rgb(218, 238, 240) ;
}
.description p{
 color:red;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
/* .description button{
 border:1px  solid rgb(35, 144, 158);
 background:rgb(52, 42, 199);
 color:#fff;
} */
.navbar.scrolled{
    background: rgb(222, 198, 222);
    transition: background 500ms;
}
.about{
    background-color: #dae3e8;
}
.mr-top{
    margin-top: 25px;
}
.bold-s{
    font-weight: 600;
}
.text-right{
    text-align: right;
}
.img-curve{
    border-top-right-radius: 50px;
}
.mission-head{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
    font-weight: 200;
   
}
.mission{
    background-color: rgb(70, 164, 241);
}



@media (max-width: 575px){
    .mission .mission-p{
        text-align: center !important;
        display: block;
    }
    
    .mission .btn{
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-top: 90px;
    }

}
.mission .btn:hover{
    box-shadow: 2px 5px 10px 10px rgb(237, 250, 250);
}
.mission .btn{
    margin-right: auto;
    /* margin-bottom: 10px !important; */
    margin-left: auto;
    display: block;
    transition: 1s;
}
.icon li{
    list-style-type: none;
    padding-top: 20px
}
.icon li a{
    font-size: 50px;
    text-decoration: none;
    color: white;

}
.icon-title{
    margin-top:20px;
    color: rgb(108, 108, 216);
    padding-bottom: 15px;
    font-weight: 200;
}
.icon-title:hover{
    color: white;
    cursor: pointer;                                    
}
hr.style-two {
    border: 0;
    height: 2px;
    width: 50%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.blog{
    background-color: #dae3e8;
}
.blog-head{
    text-align: center;
   color: blue !important;
    color: white;
    font-weight: 200;
   
}
.blog-subtitle{
    font-size: 40px;
    letter-spacing: 1.7rem;
    color: rgb(120, 144, 167);
}
.blog-icon a{
    text-align: left !important;
}
.small-icon{
    color:red;
}

@media (max-width: 575px)
{
    .blog .blog-head{
        text-align: center !important;
        margin-top: 8px;
        margin-bottom: 5px;
    }
    .blog .blog-subtitle{
        display: block;
        text-align: left;
        letter-spacing: 0;
    }
    .blog .blog-date{
        color: rgb(206, 65, 65);
    }
}

@media (max-width: 575px)
{
    .blog .sub{
        display: none;
    }
}

.blog  .sub{
    border-left: 2px solid red;
    margin-bottom: 10px;
    padding-left: 10px;
}

.blog .sub .heading{
    color: rgb(96, 96, 207);
    font-weight: 350;
    letter-spacing: .5rem;
    padding-bottom: 10px;
    border-bottom: 3px solid red;
}
.newsletter-subscribe .intro p{
    margin-bottom: 35px;
}
.newsletter-subscribe p{
    color: #ecf1f5;
    line-height: 1.5;
}
.newsletter-subscribe .intro{
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 25px;
}
.newsletter-subscribe .intro h2{
    color: white;
}
.newsletter-subscribe{
    color: #313437;
  
    padding: 50px 0;
}
.newsLetter{
    background: linear-gradient(to right, rgb(255, 124, 115), dodgerblue) !important;
}
.newsletter-subscribe h6{
    color: white;   
}

@media (max-width: 575px)
{
    .newsletter-subscribe p{
        display: none;
    }
}

.our-team{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30PX;    
    transition: all 0.5s ease 0s;
}

.our-team:hover{
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    cursor: pointer;
}
.our-team .pic{
    overflow: hidden;
    position: relative;
}
.our-team .pic:before,
.our-team .pic:after{
    content: "";
    width: 200%;
    height: 80%;
    background: rgba(38,37,37,0.8);
    position: absolute;
    top: -100%;
    left: -4%;
    transform: rotate(45deg);
    transition: all 0.5s ease 0s;
}
.our-team .pic:after{
    background: rgba(8,75,77,0.8);
    top: auto;
    left: auto;
    bottom: -100%;
    right: -4%;
}
.our-team:hover .pic:before{ top: 0; }
.our-team:hover .pic:after{ bottom: 0; }
.our-team .pic img{
    width: 100%;
    height: auto;
}
.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 45%;
    left: 0;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s ease 0.3s;
}
.our-team:hover .social{ opacity: 1; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
    position: relative;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:after{
    content: "";
    width: 100%;
    height: 100%;
    background: #db162f;
    border-radius: 0 20px 20px 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover:after{ transform: rotate(180deg); }
@media (max-width: 575px)
{
    .our-team .social li a:hover:after{ transform: rotate(180deg); }
    .our-team .social li{
        cursor: pointer;
    }
}
.our-team .team-content{ padding: 20px; }
.our-team .title{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #047168;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.our-team .post{
    display: block;
    font-size: 17px;
    font-weight: 600;
    color: #707070;
    text-transform: capitalize;
}
.team{
    color: #313437 !important;
    background-color: #eef4f7;
}
 @media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}